# Mac system junk
.DS_Store

# PyCharm project settings
.idea/

# Python cache
__pycache__/

# Environment and secret files
Day 32 - Birthday Wisher using SMTP and Datetime/.env
Day 32 - Birthday Wisher using SMTP and Datetime/birthday wisher/birthdays.csv
Day 33 - API keys,endpoints and parameters and ISS detector/ISS Overhead Detector/.env
